/*utilidades*/
@use 'utilidades/variables' as vars;
@use 'utilidades/mixin';


/*reset*/
@use 'base/reset';

/* pagina principal*/

/* estilos para el header*/

header nav{
    background-color: vars.$color-fondo-nav;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

main div {
    @include mixin.alineaciones();
}

main{
    img{
        border-radius: 15px;
    }
}

/* estilos para las tarjetas de servicio del index*/
section{
    div{
        .tarjeta{
            background-color: #fdf6f0;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            font-family: sans-serif;
            color: #333;
            text-align: justify;
            padding: 20px;
            margin-right: 20px;
            border-radius: 8px;
        }
    }
}

section{
    div{
        .img-tarjeta-servicio{
            width: 250px;
            max-width: 400px;
        }
    }
}
/* animacion a boton usado en todas las seccione*/
.boton{
    background-color: vars.$color-boton;
    color: white;
    border:none;
    border-radius: 35px;
    transition: transform 0.3s ease;
}
.boton:hover {
  transform: scale(1.1);
  color:  rgba(2, 94, 94, 0.4);
}

/* estilos del footer*/

//ejemplo de mixin con parametros

footer{
    @include mixin.medidas(350px);
}

footer{
    justify-content: center;
    align-items: center;
    background-color: vars.$color-fondo-footer;

    p{
        text-align: center;
        font-size: 1rem;
        color: ·333;
    }

    ul{
        list-style: none;
        color: rgb(0, 128, 128, 0.4);
        justify-content: center;

        li{
            cursor: pointer;
        }

    }
}


/* estilos pagina servicios*/

main.container{
    margin-top: 3rem;

    .row{
        .col-12{
            h1{
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .texto-servicio{
                font-size: 1rem;
                line-height: 1.5;
                color: #333;
            }
        }
    }

    .row{
        img.img-servicio{
            margin-bottom: 0.5rem;
            border-radius: 15px;
             
        }
        
    }
}

/* animacion de imagenes de pagina servicio*/
.img-servicio {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}



/* seccion preguntas */
section{
    div{
        .seccion-preguntas{
            background-color: #fff;
            box-shadow: 0 2px 9px rgba(0,0.5,0.5,0.05);

        }
    }
    

}



/* estilos de pagina nosotros*/

main{
    div {
        .img-nosotros{
            border-radius: 20px;

        }
    }
}